.login-cont{
    
}


.loginCard {
    width: 20%; 
    height: 250px;
    border-radius: 7px;
    box-shadow: 4px 3px 13px 0px rgba(0, 0, 0, 0.288);
    background-color: #fafafa;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.loginCard input{
    display: block;
    margin-bottom: 5px
}

